/* ------------------Rules------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    
}

/* RESET LISTA */
ul {
    list-style-type: none;
    padding-left: 0;
}

.flex{
    display: flex;
        
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    
}
/*------------- H E A D E R --------------------*/
header {
    font-family: 'Josefin Sans', sans-serif; 
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: #F40001;
}

/* LOGO edit */
#logo-cocacola img {
    width: 200px;
}

/* LINK #nav-header edit*/
#nav-header ul li {
    display: inline-block;
    margin-right: 16px;
    font-size: 22px;
    font-weight: bold;
}

#nav-header a:hover {
    color: white;
}


#nav-header svg {
    color: white;
}

/* BORDO INFERIORE LINK #nav-header */
#nav-header li {
    border-bottom: 2px solid transparent;
}

#nav-header li:hover {
    color: white;
    transition: all 1s ease-in-out;
    border-bottom: 2px solid white;
}

/* SOCIAL */
.social svg {
    color: white;
    margin-right: 16px;
}

.social svg:hover {
    color: black;
    transition: all .8s ease-in-out;
}

/* #nav-header LINK + SOCIAL */
#nav-header a, .social a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}



/*-------------M A I N--------------------*/

/*-------------Section: info-panels--------------------*/

#info-panels{
    background-color: whitesmoke;
    height: 280vh;
    gap: 10vh;
    padding: 10vh 0;
    justify-content: space-between;
    align-items: center;
}

.panel {
   /*  background-color: coral; /*Test */
    gap: 10vh;
    width: 73%;
    height: 70%;
    justify-content: space-around;
    align-items:center;
    gap: 0;
    
}

.panel-text {
    background-color: white;
    box-shadow: 0 14px 18px rgba(0,0,0,.06);
    padding-top: 5%;
    padding-left: 5%;
    gap: 10px;
    width: 50%;
    height: 80%;
    position: relative;
    
    z-index: 2;
    border-radius: 16px;
}
/*---Prodotto---*/
#product-panel {
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#product-panel > p{
    width: 80%;
    font-weight: 300;
    
}

.wrapper {
    background-color: white;
    
    height: 40%;
    padding: 5%;
    border-radius: 16px;
}

h4{ /* ATTENZIONE! uso tag generico*/
    /* background-color: green; /*Test */
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}


h3 {/* ATTENZIONE! uso tag generico*/
    /* background-color: green; /*Test*/
    font-size: 22px;
    justify-content: left;
    width: 75%;
}

p { /* ATTENZIONE! uso tag generico*/
    /* background-color: rgb(6, 63, 6); /*Test */
    width: 75%;
    font-weight: 500;
}

#left-img{
    background-image: url(https://imovegreen.it/wp-content/uploads/2020/10/sostenibilita-ambientale.jpg); /*Test*/
    background-size: cover;
    border-radius: 16px;
    width:60%;
    height:70%;
    top: 16%;
    left: 16%;   
    position: relative;
    z-index: 1;
}

#right-img {
    background-image: url(https://www.coca-cola.com/content/dam/onexp/it/it/home-images/homepage/it_homepage_Campaign_Card_2_1280x1024.jpg/width1960.jpg);
    background-size: cover;
    border-radius: 16px;
    width:60%;
    height:70%;
    top:16%;
    right: 16%;
    position: relative;
    z-index: 1;
}

/*-------------Section: brands--------------------*/

#brands {
    background-color: whitesmoke;
    align-items: center;
    height: 100vh;
    gap: 0;
    padding: 10vh 0;
    justify-content: center;
    align-items: center;
    
}

#brand-panel{
    /* background-color: coral; /*Test */
    width: 58%;
    height: 70%;
    justify-content: space-between;
    align-items:center;
    gap: 0;
}

#brand-title {
    /* background-color: rgb(0, 0, 0); /*Test */
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 5% 0; */
}


h2{
    /*background-color: green; /*Test*/
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

#brand-list {
    /*background-color: rgb(19, 5, 0); /*Test*/
    height:90%;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    
}

.brand-icon {
    background-color: white;
    box-shadow: 0 14px 18px rgba(0,0,0,.06);
    border-radius: 16px;
    height: 180px;
    width: 180px;
    align-items: center;
    justify-content: center;
}

.icon{
    justify-content: center;
    align-items: center;
    width: 75%;
    
}